.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

td, th {
  vertical-align: middle;
}
.column#caption {
  position: relative;
}
.column#caption .text {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 1s ease;
}
.column#caption .text h1 {    
    margin: 0;    
    color: white;
    text-shadow: 6px 6px #3f1739;
    
}
.column#caption:hover .text {
  opacity: 1;
  
}
.column#caption:not(:hover) img {
  -webkit-filter: sepia(80%);
}