@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #31112C;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.76) !important;
	background: #3f1739;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #FBDCC4;
	margin: 10px;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.nav-pills .nav-link.active {
	color: #F2A07B;
	background-color: #3f1739;
}

.img-circle img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.btn {
	margin: 10px;
}
