/*
** Palette de couleur
** #7D0633 - #31112C - #F2A07B - #FBDCC4

    class => .
    id => #
*/



body {
    background-color: #31112C;
}


#page {
    color: white;
}


#login-form, #signup-form{
    margin:10px auto;
    width: 700px;
}


.login-form-new{
    color: white;
    border-radius: 80pt;
    border-color : white;
    border-width: 1px;
    border-style: solid;
}